name: Tests

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: macos-26
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test
        run: swift test --parallel
